/.metadata/
**/*.iml
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/bin
**/build
**/build_gradle
**/node_modules
**/test-coverage
**/tmp
**/.web_bundle_build
.gradle
.idea
/bundles
/gradle-*.properties
/plugins-sdk/**/classes
/plugins-sdk/**/ivy.xml.MD5
/plugins-sdk/**/liferay-hook.xml.processed
/plugins-sdk/build.*.properties
/plugins-sdk/dependencies/**/*.jar
/plugins-sdk/dist
/plugins-sdk/lib
test-results

# IntelliJ IDEA project descriptors and artifacts
.idea
*.iml

# Eclipse descriptors and artifacts
.classpath
.project
.settings
/.metadata/
/.recommenders/
/RemoteSystemsTempFiles/

# Personal hidden scripts
.*.sh

# Mac OSX Finder metadata file
.DS_Store

/app
/bin/

# Liferay Workspace excludes
.gradle
gradle.properties

init.gradle
init-*.gradle

/build
/gradle/**/build/


/configs/local/portal-developer.properties

.ms-template-*

# Modules excludes
/modules/**/bin/
/modules/**/build/
/modules/**/.sass-cache/

.idea
.gradle
.project
.classpath
*.iml

# This will contain user-specific secrets and settings, so don't version-control it
init.gradle
init-*.gradle

build/
gradle/liferay-workspace-ee/**/build

configs/local/portal-developer.properties

modules/**/bin

.ms-template-*
.settings/
.metadata/

/modules/**/.sass-cache/

.DS_Store

# My Excludes
*/bundles/
*/osgi/
*/stanley-theme/node_modules
*/stanley-theme/build
*/stanley-theme/dist
*/stanley-theme/liferay-theme.json
*/stanley-theme/.web_bundle_build
*/stanley-theme/.yo-rc.json
*/stanley-theme/.gitignore